@font-face {
    font-family: 'Lesley';
    src: url('/fonts/Lesley.eot');
    src: url('/fonts/Lesley.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Lesley.woff2') format('woff2'),
         url('/fonts/Lesley.woff') format('woff'),
         url('/fonts/Lesley.ttf')  format('truetype'),
         url('/fonts/Lesley.svg#Lesley') format('svg'),
		 url('/fonts/Lesley.otf') format('opentype');
}

h1 {
	font-family: Lesley;
	font-size: 36px;
	margin: 0px;
	padding: 5px;
	word-spacing: -0.1em
}

h2 {
	font-family: Lesley;
	font-size: 24px;
	word-spacing: -0.1em
}

.buttontext {
	font-family: Lesley, Century Gothic, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
}

p {
	font-family: Century Gothic, sans-serif;
	font-size: 16px;
	display: run-in;
}

a:link, a:visited, a:hover, a:active {
	color: black;
	text-decoration: none;
}